{% extends 'Gempresas/index_meu.html' %}
{% block title %}Empresas Clientes {% endblock %}

{% block content %}

<body>
    <h1>Lista de usuário de clientes</h1>

    <p>Quantidade de usuários clientes: {{tamanho}}</p>

    <a href="{% url 'home' %}">Home</a>     

    <table>
        <thead>
            <th>Nome</th>
            <th>email</th>
            <th>senha</th>
        </thead>
        <tbody>
        {% for usuario_cliente in usuarios_clientes %}
            <tr>
                <th>usuario_cliente.nome</th>    
                <th>usuario_cliente.email</th>    
                <th>usuario_cliente.senha</th>    
            </tr>
            
        {% endfor %}
        </tbody>
    </table>

</body>
{% endblock %}